@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .LoginScreen_gradient {
        width: 100%;
        z-index: 1;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.8) 0,
                rgba(0, 0, 0, 0) 60%,
                rgba(0, 0, 0, 0.8) 100%
        );
    }
}